<section {% include 'helpers/section_id.twig' with { 'id': content.layout_settings.section_options.id } %} class="two-images {% include 'helpers/section_classes.twig' with { 'options': content.layout_settings.section_options } %}">
  <div class="container">
    <div class="row row--justify-between">
      <div class="col col--6@med">
        {% include 'atoms/picture.twig' with {
          'class_list': 'two-images__left',
          'attr': '',
          'alt': content.left_image.large.caption,
          'images': {
            'large': TimberImage(content.left_image.large['sizes']['large-square']),
            'large_retina': TimberImage(content.left_image.large['sizes']['large-square']),
            'medium': (content.left_image.medium) ? TimberImage(content.left_image.medium['sizes']['large-square']) : TimberImage(content.left_image.large['sizes']['large-square']),
            'small': (content.left_image.small) ? TimberImage(content.left_image.small['sizes']['large-square']) : TimberImage(content.left_image.large['sizes']['large-square'])
          }
        } %}
      </div>
      <div class="col col--5@med">
        {% include 'atoms/picture.twig' with {
          'class_list': 'two-images__right',
          'attr': '',
          'alt': content.right_image.large.caption,
          'images': {
            'large': TimberImage(content.right_image.large['sizes']['large-square']),
            'large_retina': TimberImage(content.right_image.large['sizes']['large-square']),
            'medium': (content.right_image.medium) ? TimberImage(content.right_image.medium['sizes']['large-square']) : TimberImage(content.right_image.large['sizes']['large-square']),
            'small': (content.right_image.small) ? TimberImage(content.right_image.small['sizes']['large-square']) : TimberImage(content.right_image.large['sizes']['large-square'])
          }
        } %}
      </div>
    </div>
  </div>
  {% include 'helpers/styled_background.twig' with { 'options': content.layout_settings.section_options } %}
</section>
