{% extends "base.twig" %}

{% block content %}
{% include 'organisms/page-header.twig' with {
	'content' : options.benefits_overview.header
} %}




<section class="benefits-archive-list colour--white">
	<div class="container">
		<div class="row row--justify-center">
				<h2>How we can transform your business</h2>
			</div>
    <div class="row">
				{% for post in posts %}
	      	<div class="col col--6@med col--3@xl">
						{% include 'molecules/info_card.twig' with {
							'slim': true,
	            'content': {
								'title': post.title,
								'icon_type' : 'svg',
								'icon': post.icon,
								'description': post.excerpt,
								'buttons': [
									{
											'button_style': 'btn--sapphire',
											'button': {
												'url': post.link,
												'title': function('__', 'Learn more')
											}
									},
								]
							},
							'colour': {
								'background_colour': 'white',
								'text_colour': 'sapphire',
								'icon_colour': 'sapphire',
								'text_hover_colour': 'white',
								'background_hover_colour': 'red',
							}
	          } %}
					</div>
        {% endfor %}
    </div>
	</div>
</section>

{% include 'layout-builder.twig' with {
	'layouts' : options.benefits_overview.benefits_layout_builder
	} %}

{% endblock %}
