
$base-font: "Gilroy Regular",sans-serif;
$base-font-weight: normal;
$base-bold-font: "Gilroy Medium",sans-serif;
$base-bold-font-weight: normal;

$semi-bold-font: 'Gilroy SemiBold', sans-serif;

$header-font: "Gilroy Bold",sans-serif;
$header-font-weight: normal;

$base-line-height: 22px;
$header-line-height: 1;

$small-font-size: 14px;
$medium-font-size: 16px;
$large-font-size: 24px;
$xl-font-size: 40px;

$h1-font-size: 78px;
$h1-font-size-small: 48px;
$h1-long-header: 35px;
$h2-font-size: 40px;
$h3-font-size: 25px;
$h4-font-size: 16px;
$h5-font-size: 16px;
