.bg {
  @each $name, $color in $colorMap {
    &--#{$name} {
      background-color: $color !important;
    }
  }
}

.bg--sapphire {

  .flickity-button.flickity-prev-next-button {
    &:before {
      background: $white;
    }
    &:after {
      border-color: $white;
    }
  }
}
