/* Grid system, using flexbox */

.container {
  max-width: $containerMaxWidth;
  margin: 0 auto;
  padding: 0 $gridGutter;
  position: relative;
  width: 100%;
  z-index: 4;

  @include media("<med") {
    padding: 0 $gridGutterMob;
  }

  &--fullwidth {
    max-width: none;
    padding: 0px;
  }
}

.row {
  width: 100%;

  &.tablet-only-carousel {
    &:after {
      content: 'flickity';
      display: none; /* hide :after */
      @include media(">wide") {
        content: '';
      }
    }
  }
  &.always-carousel {
    &:after {
      content: 'flickity';
      display: none; /* hide :after */
    }
  }


  &.flickity-enabled {
    padding-left: 0;
    padding-right: 0;



    .flickity-viewport {
      width: 100%;

      padding-top: $gridGutter/2;
      padding-left: $gridGutter/2;
      padding-right: $gridGutter/2;

      @include media(">med") {
        padding-top: $gridGutter;
        padding-left: $gridGutter;
        padding-right: $gridGutter;
      }
      @include media(">wide") {
        padding-top: $gridGutter/2;
        padding-left: $gridGutter/2;
        padding-right: $gridGutter/2;
      }

    }

    // col-4
    .col--4\@xl {
      @include media(">xl") {
        width: calc(100% * 4/12 - (#{$gridGutter*2} * 4/12));
      }
    }
    // col-4
    .col--6\@med {
      @include media(">med", "<xl") {
        width: calc(100% * 6/12 - (#{$gridGutter} * 6/12));
      }
    }
    // col-12
    .col--12\@xl {
      @include media(">xl") {
        width: 100%;
      }
    }


    &.flush-right-carousel {
      // @include media("<med") {
      //   width: 100vw;
      //   transform: translateX(-#{$gridGutterMob});
      // }




      @include media(">xwide") {
        width: 100vw;
        left: 50%;
        transform: translateX(-50vw);
        padding-left: calc( ( 100vw - #{$containerMaxWidth - ($gridGutter*2)} ) / 2 );
        padding-right: 0;

      }

      .col--4\@xl {
        @include media(">wide") {
          width: 377px;
        }
      }
      .col--6\@xl {
        @include media(">wide") {
          width: 581px;
        }
      }
      .col--3\@wide {
        @include media(">wide") {
          width: 275.5px;
        }
      }

      .flickity-button.flickity-prev-next-button {
        position: absolute;
        top: - #{$gridGutter*3};
        right: $gridGutter;
        left: auto;

        @include media("<med") {
          top: -3rem;
        }

        @include media(">xwide") {
          right: calc( ( 100vw - #{$containerMaxWidth - ($gridGutter*3)} ) / 2 );
        }

        &.previous {
          transform: translateX(-150%);

          @include media("<med") {
            top: -3rem;
            left: 4rem;
            right: auto;
          }
        }
      }


    }
  }


  .row {
    margin-left: -#{$gridGutter/2};
    width: calc(100% + #{$gridGutter});

    @include media("<lrg") {
      width: 100%;
    }
  }

  @include media(">xs") {
    display: flex;
    flex-wrap: wrap;
    // justify-content: space-between;
  }

  &:last-child {
    @include media(">xs") {
      margin-bottom: -#{$gridGutter};
    }
  }

  &--flex-always {
    display: flex;
    flex-wrap: wrap;
  }

  &--pad-top {
    padding-top: $gridGutter;
  }

  &--pad-top-xl {
    padding-top: $gridGutter * 4;
  }

  &--pad-bot {
    padding-bottom: $gridGutter;
  }
  &--pad-bot-lg {
    padding-bottom: $gridGutter * 2;
  }
  &--pad-bot-xl {
    padding-bottom: $gridGutter * 4;
  }

  &--justify-between {
    justify-content: space-between;
  }

  &--justify-start {
    justify-content: flex-start;
  }

  &--justify-end {
    justify-content: flex-end;
  }

  &--justify-center {
    justify-content: center;
  }

  &--align-center {
    align-items: center;
  }

  &--align-v-end {
    align-items: flex-end;
  }

  &--space-evenly {
    justify-content: space-evenly;
  }

  &--reverse-cols {
    flex-direction: row-reverse;
  }

  &--col-direction {
    flex-direction: column;
  }

  &--no-wrap {
    flex-wrap: nowrap;
  }

  &--mobile-flex-col {
    @include media("<lrg") {
      flex-direction: column;
    }
  }

  &--mobile-col-reverse {
    @include media("<lrg") {
      flex-direction: column-reverse;
    }
  }

  &--mobile-pad-bot-0 {
    @include media("<lrg") {
      padding-bottom: 0px;
    }
  }

  &--mobile-pad-top-0 {
    @include media("<lrg") {
      padding-top: 0px;
    }
  }
}

.col {
  position: relative;
  margin-top: $gridGutter/2;
  margin-bottom: $gridGutter/2;
  width: 100%;
  flex: 0 0 100%;
  // background: rgba(150,150,250,0.25);



  @include media(">xs") {
    flex: none;
    margin-top: 0;
    margin-bottom: $gridGutter;
  }
  @include media(">med") {
    margin-left: $gridGutter/2;
    margin-right: $gridGutter/2;
  }

  &--reset-mar-bot {
    @include media(">xs") {
      margin-bottom: 0;
    }
  }

  // Import the column classes in the right order!
  @import "columns/xs-cols.scss";
  @import "columns/med-cols.scss";
  @import "columns/xl-cols.scss";
  @import "columns/wide-cols.scss";






  &-offset {
    &--4 {
      @each $size, $breakpoint in $gridBreakpoints {
        &\@#{$size} {
          @include media(">#{$size}") {
            // margin-left: calc(99.99% * 2/12 - (#{-$gridGutter*6} * 2/12));
            // margin-left: calc(99.99% * 2/12 - ( #{$gridGutter*2} * 2/12 ) + #{$gridGutter} );
            margin-left: calc(99.99% * 4/12 + #{$gridGutter/2} );
          }
        }
      }
    }
    &--2 {
      @each $size, $breakpoint in $gridBreakpoints {
        &\@#{$size} {
          @include media(">#{$size}") {
            // margin-left: calc(99.99% * 2/12 - (#{-$gridGutter*6} * 2/12));
            // margin-left: calc(99.99% * 2/12 - ( #{$gridGutter*2} * 2/12 ) + #{$gridGutter} );
            margin-left: calc(99.99% * 2/12 );
          }
        }
      }
    }
    &--1 {
      @each $size, $breakpoint in $gridBreakpoints {
        &\@#{$size} {
          @include media(">#{$size}") {
            margin-left: calc(99.99% * 1/12 );
            // margin-left: calc(99.99% * 1/12 - ( #{$gridGutter*4} * 1/12 ) + #{$gridGutter} );
          }
        }
      }
    }
  }
}

.mb-2 {
  margin-bottom: 20px;
}

.mb-4 {
  margin-bottom: 40px;
}
