.insights-single {

  &__masthead {
    padding-top: 220px;
    padding-bottom: 120px;
    // height: 75vh;
    // display: flex;
    // align-items: center;
  }

  &__content-block {
    margin: 40px 0px;
  }
}
